<link rel="stylesheet" href="/css/Identity/Main.css" />
<link rel="stylesheet" href="/css/Identity/ConfirmByEmail.css" />
    
<div class="identity-area">
    <div id="confirm-by-email">
        <div class="information">
            <img class="logo" src="~/Images/logo.png"/>
            <h2>STUPER</h2>
            <h3>Підтвердження</h3>
        </div>

        <div id="description">
            <h4>Для закінчення операції перевірте електрону пошту та перейдіть за посиланням, вказаному у листі</h4>
        </div>

        <div class="form-groups">
            <a asp-controller="Account" asp-action="Login">Увійти</a>
        </div>
    </div>
</div>