@model Web.Models.Identity.ForgotPasswordModel

<link rel="stylesheet" href="/css/Identity/Main.css" />
<link rel="stylesheet" href="/css/Identity/ForgotPassword.css" />

<div class="identity-area">
    <div id="forgot-password">
        <div class="information">
            <img class="logo" src="~/Images/logo.png"/>
            <h2>STUPER</h2>
            <h3>Забули пароль?</h3>
        </div>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <label asp-for="Email">Пошта</label>
            <div class="string-parameters" id="email">
                <input type="email" asp-for="Email" required="Email" />
            </div>

            <div class="form-groups">
                <h4>У разі відсутності доступу до пошти зверніться в
                    <a href="">тех-підтримку</a></h4>
            </div>

            <div class="action-buttons">
                <input id="submit" type="submit" asp-controller="Account" asp-action="ForgotPassword" value="Відновити" />
            </div>
        </form>
    </div>
</div>