@model Web.Models.Identity.ResetPasswordModel

<link rel="stylesheet" href="/css/Identity/Main.css" />
<link rel="stylesheet" href="/css/Identity/ResetPassword.css" />

<div class="identity-area">
    <div id="reset-password">
        <div class="information">
            <img class="logo" src="~/Images/logo.png"/>
            <h2>STUPER</h2>
            <h3>Відновлення паролю</h3>
        </div>
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
            <div class="string-parameters" id="email">
                <input type="hidden" asp-for="Email" required/>
            </div>
            
            <div class="string-parameters" id="token">
                <input type="hidden" asp-for="Token" required/>
            </div>

            <label asp-for="Password">Пароль</label>
            <div class="string-parameters" id="password">
                <input type="password" asp-for="Password" required/>
            </div>

            <label asp-for="RepeatPassword">Повторити пароль</label>
            <div class="string-parameters" id="repeat-password">
                <input type="password" asp-for="RepeatPassword" required/>
            </div>

            <div class="action-buttons">
                <input id="submit" type="submit" asp-controller="Account" asp-action="ResetPassword" value="Скинути пароль" />
            </div>
        </form>
    </div>
</div>