@* *@
@* <div class="panel"> *@
@*     <form asp-controller="SocialNetwork" asp-action="SendCommentar" method="post" enctype="multipart/form-data"> *@
@*         <div asp-validation-summary="ModelOnly" /> *@
@* *@
@*         <input asp-for="PostId" type="hidden" value="@Model.PostId" /> *@
@* *@
@*         <label asp-for="CommentText" /> *@
@*         <input asp-for="CommentText" /> *@
@*         <span asp-validation-for="CommentText"></span> *@
@* *@
@*         <input type="submit" asp-controller="SocialNetwork" asp-action="SendComentar" value="Надіслати" /> *@
@*     </form> *@
@* </div> *@