<link rel="stylesheet" type="text/css" href="~/css/Pages/Deadlines.css" >

<p class="deadlines-title">Мої дедлайни</p>
<div class="deadlines-container">
    <p class="deadline">21.03 - Алгоритмізація та програмування -  Марʼяна Левкович</p>
    <p class="deadline">27.03 - Дискретна математика - Ігор Капран</p>
    <p class="deadline">27.03 - Дискретна математика - Ігор Капран</p>
    <p class="deadline">27.03 - Дискретна математика - Ігор Капран</p>
    <p class="deadline">27.03 - Дискретна математика - Ігор Капран</p>
    <p class="deadline">27.03 - Дискретна математика - Ігор Капран</p>
    <p class="deadline"> </p>
</div>