#login {
    background: rgba(20, 40, 108);
    box-shadow: 0 1vh 2.5vh rgba(0, 0, 0, 1);
    border-radius: 10px;
    height: 60vh;
    width: 42vh;
    border: black solid 1px;
}

.checkbox{
    margin-top: 1vh;
    margin-left: -5vh;
    text-align: center;
}

.checkbox #remember {
    margin-left: 5vh;
    -moz-appearance: none;
    padding: 0.5vh;
    background-color: aqua;
    border-radius: 10%;
    height: 2vh;
    width: 2vh;
}

.checkbox #remember:checked {
    background-color: yellow;
}

.checkbox label{
    margin-left: 1vh;
}