header {
    width: 100%;
    display: grid;
    margin-bottom: 1vh;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-column-gap: 0;
    grid-template-columns: 15% 70% 15%;
}

.wrapper_button{
    background-color: transparent;
    border: none;
    padding: 0.1vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#selected_button {
    background-color: transparent;
    border: none;
    filter: brightness(500%);
}

.student_info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    align-items: center;
    margin: -1vh auto 0 auto;
    color: white;
}

#avatar{
    margin: 1vh;
    height: 5vh;
    width: 5vh;
    border-radius: 5vh;
}

#student-info {
    cursor: pointer;
    display: grid;
    font-size: 2vh;
    align-items: center;
}

.student_info p{
    padding: 0;
}

#student-info h5{
    margin: 0 auto;
    color: darkgrey;
}

.container img {
    width: 5vh;
    height: 5vh;
}

.right_toolbar img{
    width: 3vh;
    height: 3vh;
}

.container {
    border: 1px solid transparent;
    display: grid;
    grid-column: 2;
    justify-content: space-between;
    margin-bottom: 2vh;
    grid-template-columns: repeat(4, 25%);
    background-color: #787474;
    border-radius: 0 0 2vh 2vh;
}

.right_toolbar{
    display: grid;
    grid-column: 3;
    grid-template-columns: repeat(4, 23%);
    grid-column-gap: 1%;
    padding: 1vh;
    margin-bottom: 2vh;
}

.container.a{
    background-color: transparent;
    width: 25%;
}

.container:hover a:not(:hover),
.right_toolbar:hover a:not(:hover){
    opacity: 0.7;
    filter: blur(1px);
}